@font-face {
  font-family: "Behind";
  src: url("../fonts/BehindTheNinetiesFont/regular.woff") format("woff"), url("../fonts/BehindTheNinetiesFont/regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Behind";
  src: url("../fonts/BehindTheNinetiesFont/medium.woff") format("woff"), url("../fonts/BehindTheNinetiesFont/medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Behind";
  src: url("../fonts/BehindTheNinetiesFont/bold.woff") format("woff"), url("../fonts/BehindTheNinetiesFont/bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}