@charset "UTF-8";

@import url(variable.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--app-color-3);
  color: var(--app-color-2);
  font-family: "Raleway", sans-serif;
}

.btn {
  width: 100%;
  text-align: center;

  a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    background-color: var(--app-color-1);
    color: var(--app-color-3);
    font-size: 1.12em;

    &:hover {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
      transform: scale(1.05);
      transition: 0.3s ease-out;
      cursor: pointer;
    }
  }
}

main {
  height: var(--app-full-height);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: var(--app-full-height);
    height: var(--app-full-height);
    gap: 16px;
    scroll-snap-align: start;
    position: relative;

    &.first {
      .container {
        display: flex;
        justify-content: center;
        z-index: 2;
        background-color: rgba(var(--app-color-3-rgb), 0.95);
        height: 100%;
        width: 100%;
        padding: 16px;

        .content {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;
          height: 100%;
          max-width: 600px;
          gap: 16px;

          .text {
            display: flex;
            flex-flow: column nowrap;
            gap: 8px;
            width: 100%;
            text-align: center;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

            h1, h2 {
              margin: 0;
              span {
                color: var(--app-color-1);
              }

              &h1 {
                font-size: 24px;
              }

              &h2 {
                font-size: 20px;
              }
            }
          }

          .side {
            display: flex;
            flex-flow: column nowrap;
            gap: 16px;
            width: 100%;
            /* height: 100%; */

            .video {
              display: flex;
              width: 100%;
              background-color: black;

              .vimeo-container {
                position: relative;
                width: 100%;
                height: 0;
                overflow: hidden;
                padding-bottom: 56.25%;
              }
            }
          }
        }
      }

      &::before {
        content: '';
        background-image: url(../images/firstsection-s.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
      }
    }

    &.second {
      background-color: var(--app-color-2);

      .btn-container {
        position: absolute;
        top: 20px;
        width: 100%;
        padding: 0 20px;
        max-width: 520px;
        z-index: 10;

        .btn {
          a {
            background-color: var(--app-color-3);
            color: var(--app-color-1);

            &:hover {
              background-color: var(--app-color-1);
              color: var(--app-color-3);
            }
          }
        }
      }

      .splide {
        width: 100%;
        height: 100%;
        background-color: rgba( var(--app-color-2-rgb), 0.5);

        .splide__arrows {
          .splide__arrow {
            background-color: var(--app-color-3);

            svg {
              fill: var(--app-color-1);
            }
          }
        }

        .splide__track {
          height: 100%;

          .splide__list {
            .splide__slide {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 96px 64px;

              img {
                width: 100%;
                height: 100%;
                max-width: 480px;
                object-fit: scale-down;
              }
            }
          }
        }

        .splide__pagination {
          margin-bottom: 32px;

          li {
            button {
              background-color: var(--app-color-1);

              &.is-active {
                background-color: var(--app-color-3);
              }
            }
          }
        }
      }

      &::before {
        content: '';
        background-image: url(../images/feedbacks-s.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
      }
    }

    &.third {
      min-height: unset;
      height: fit-content;

      footer {
        text-align: center;
        background-color: var(--app-color-3);
        color: var(--app-color-1);
        font-size: 0.625em;
        width: 100%;
        padding: 16px 16px;

        a {
          text-decoration: none;
          color: var(--app-color-2);
          font-weight: bold;
        }
      }
    }
  }
}





@media (max-height: 500px) {
  main {
    section {
      &.first {
        .container {
          .content {
            flex-direction: row;
            max-width: unset;

            .text {
              h1 {
                font-size: 1.25rem;
              }

              h2 {
                font-size: 1.125rem;
              }
            }

            .side {
              justify-content: center;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media (orientation: landscape) {
  main {
    section {
      &.first {
        &::before {
          background-position: 0% 12%;
        }
      }

      &.second {
        &::before {
          content: '';
          background-image: url(../images/feedbacks-l.png);
          background-position: bottom;
        }
      }
    }
  }

  @media (min-width: 900px) {
    main {
      section {
        &.first {
          .container {
            .content {
              gap: 64px;
              max-width: 800px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  main {
    section {
      &.first {
        .container {
          .content {
            gap: 64px;
            max-width: 800px;

            .text {
              gap: 32px;
              h1 {
                font-size: 2rem;
              }

              h2 {
                font-size: 1.75rem;
              }
            }

            .side {
              gap: 64px;
            }
          }
        }
      }
    }
  }
}

