@charset "UTF-8";

@import url(variable.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--app-color-3);
  color: var(--app-color-2);
  font-family: "Raleway", sans-serif;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    gap: 16px;
    scroll-snap-align: start;
    position: relative;

    footer {
      position: absolute;
      bottom: 0;
      text-align: center;
      background-color: var(--app-color-2);
      color: var(--app-color-3);
      font-size: 0.625em;
      width: 100%;
      padding: 8px 16px;

      a {
        text-decoration: none;
        color: var(--app-color-3);
        font-weight: bold;
      }
    }

    &.first {
      .container {
        display: flex;
        justify-content: center;
        z-index: 2;
        background-color: rgba(var(--app-color-3-rgb), 0.95);
        height: 100%;
        width: 100%;
        padding: 16px;

        .content {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;
          height: 100%;
          max-width: 600px;
          gap: 16px;

          .text {
            display: flex;
            flex-flow: column nowrap;
            gap: 8px;
            width: 100%;
            text-align: center;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

            h1, h2 {
              margin: 0;
              span {
                color: var(--app-color-1);
              }

              &h1 {
                font-size: 24px;
              }

              &h2 {
                font-size: 20px;
              }
            }
          }

          .side {
            display: flex;
            flex-flow: column nowrap;
            gap: 16px;
            width: 100%;
            /* height: 100%; */

            .video {
              display: flex;
              width: 100%;
              background-color: black;

              .vimeo-container {
                position: relative;
                width: 100%;
                height: 0;
                overflow: hidden;
                padding-bottom: 56.25%;
              }
            }

            .btn {
              width: 100%;
              text-align: center;

              a {
                display: block;
                text-decoration: none;
                font-weight: bold;
                width: 100%;
                padding: 16px;
                border-radius: 4px;
                background-color: var(--app-color-1);
                color: var(--app-color-3);
                font-size: 1.12em;

                &:hover {
                  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
                  transform: scale(1.05);
                  transition: 0.3s ease-out;
                }
              }
            }
          }
        }
      }

      &::before {
        content: '';
        background-image: url(../images/firstsection-s.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 0;
      }
    }

    &.second {
      background-color: red;
    }
  }
}

@media (max-height: 500px) {
  main {
    section {
      &.first {
        .container {
          .content {
            flex-direction: row;
            max-width: unset;

            .text {
              h1 {
                font-size: 1.25rem;
              }

              h2 {
                font-size: 1.125rem;
              }
            }

            .side {
              justify-content: center;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media (orientation: landscape) {
  main {
    section {
      &.first {
        &::before {
          background-position: 0% 12%;
        }
      }
    }
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  main {
    section {
      &.first {
        .container {
          .content {
            gap: 64px;
            max-width: 800px;

            .text {
              gap: 32px;
              h1 {
                font-size: 2rem;
              }

              h2 {
                font-size: 1.75rem;
              }
            }

            .side {
              gap: 64px;
            }
          }
        }
      }
    }
  }
}
/*

div.text h1,
div.text h2 {

  margin: 0 auto;
}

div.text h1 {
  margin-bottom: 16px;
}

div.text h1 span {
}

article.video {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 800px;
}

article.btn {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

article.btn a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  max-width: 600px;
  padding: 16px;
  margin: auto;
  border-radius: 4px;
  background-color: var(--app-color-1);
  color: var(--app-color-3);
  font-size: 1.12em;
}

article.btn a:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

section.second {
  background-color: var(--app-color-1);
}

 footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625em;
  color: var(--app-color-3);
  background-color: var(--app-color-2);
  height: 60px;
  width: 100%;
  text-align: center;
  padding: 0 2rem;

  a {
    text-decoration: none;
    color: var(--app-color-3);
    font-weight: bold;
  }
}

/* MEDIA QUERY */

/*
@media screen and (min-width: 768px) {

}
*/

/* @media screen and (orientation: landscape) {
  section.first {
    font-size: 1rem;
  }

  section.first::before {
    background-position: 0% 12%;
  }

  article.video {
    width: 50%;
    height: auto;
  }
} */

